<footer class="page-footer">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left footer-content">
        <div class="row justify-content-around">
            <div class="col-4 text-center"><a href="/home" class="footer-links"><strong>Pegasys</strong></a></div>
            <div class="col-2"><a class="footer-links" href="/rocket/Falcon 9">Falcon 9</a></div>
            <div class="col-2"><a class="footer-links" href="/rocket/Falcon Heavy">Falcon Heavy</a></div>
            <div class="col-2"><a class="footer-links" href="/rocket/Delta-IV">Delta IV</a></div>
            <div class="col-2"><a class="footer-links" href="/contact">Contact</a></div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="footer-links" href="/home"> Pegasys</a>
    </div>
    </footer>
    <!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>