<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="/stylesheets/main.css">
<div class="container" id="landing">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
            <h1>Pegasys</h1>
            <h3>Where your Dreams become Reality!</h3>
            <hr>
            <a class="btn btn-light btn-lg" href="/home">Explore <i class="fas fa-user-astronaut"></i></a>
        </div>
        </div>
    </div>
</div>

<%-include("partials/footer.ejs")%>
