<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="/stylesheets/solarsys.min.css">
<div class="animsition"
data-animsition-in-class="zoom-in-sm"
data-animsition-in-duration="1200"
data-animsition-out-class="zoom-out-sm"
data-animsition-out-duration="900">
<div id="quote" class="container-fluid">
<div class="container" style="padding-top:10%;text-align: center;">
    <blockquote class="blockquote">
        <p class="h3">"You want to wake up in the morning and think the future is going to be great - and that’s what being a spacefaring civilization is all about. It’s about believing in the future and thinking that the future will be better than the past. And I can’t think of anything more exciting than going out there and being among the stars."</p>
    </blockquote>
</div>
</div>
</div>
<div class="container-fluid" id="explore">
    <div class="row">
        <div class="col-md-8">
            <div id="ss-container" class="zoom-large" style="margin-top: 5%;height: 100vh;">
                <div id="data">
                    <a class="sun"      href="#">Sun</a>
                    <a class="mercury"  href="#">Mercury</a>
                    <a class="venus"    href="#">Venus</a>
                    <a class="earth"    href="#">Earth</a>
                    <a class="mars"     href="#">Mars</a>
                    <a class="jupiter"  href="#">Jupiter</a>
                    <a class="saturn"   href="#">Saturn</a>
                    <a class="uranus"   href="#">Uranus</a>
                    <a class="neptune"  href="#">Neptune</a>
                </div>
                <div id="universe">
                    <div id="controls">
                        <label class="set-zoom">
                            <input type="checkbox">
                          </label>
                    </div>
                    <div id="galaxy">
                        <div id="solar-system">
                            <div id="sun">
                                <dl class="infos unactive">
                                    <dt>Sun</dt>
                                    <dd><span></span></dd>
                                </dl>
                            </div>
                            <div id="mercury" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos unactive">
                                            <dt>Mercury</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="venus" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos unactive">
                                            <dt>Venus</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="earth" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Earth</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="mars" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos unactive">
                                            <dt>Mars</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="jupiter" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos unactive">
                                            <dt>Jupiter</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="saturn" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <div class="ring"></div>
                                        <dl class="infos unactive">
                                            <dt>Saturn</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="uranus" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos unactive">
                                            <dt>Uranus</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="neptune" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos unactive">
                                            <dt>Neptune</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin: auto;">
            <div class="container exploration-text container-bg">
                <div class="display-4">Why we Explore?</div>
                <br>
                <p class="lead" style="line-height: 1.5em;">Humanity's interest in the heavens has been universal and enduring. Humans are driven to explore the unknown, discover new worlds, push the boundaries of our scientific and technical limits, and then push further. The intangible desire to explore and challenge the boundaries of what we know and where we have been has provided benefits to our society for centuries.</p>
                <p class="lead" style="line-height: 1.5em;">Human space exploration helps to address fundamental questions about our place in the Universe and the history of our solar system. Through addressing the challenges related to human space exploration we expand technology, create new industries, and help to foster a peaceful connection with other nations.</p>
            </div>
        </div>
    </div>
</div>
<div id="mars-mission" class="container-fluid" style="margin-top: 10%;">
<div class="display-1 text-md-left" style="padding-top: 10%;">Mars Exploration</div>
<a class="ui inverted button" href="/mission/mars">Explore Mars</a>
</div>
<div class="container-fluid" id="Carousal">
    <div class="Carousel" style="margin: 10% auto;">
        <button class="carousel__button left is-hidden"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide">
                    <img class="carousel__image lazy" src="/images/deep_space.jpg"  data-src="https://www.spacex.com/static/images/mission/mission-slider-08.webp" data-srcset="https://www.spacex.com/static/images/mission/mission-slider-08.webp" alt="">
                    <p class="date">July 2010</p>
                    <h1 class="carousel__header">Falcon makes History</h1>
                    <p class="carousel__text--left">Falcon 1 becomes the first privately developed liquid fuel rocket to reach Earth orbit.</p>
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image lazy" src="/images/deep_space.jpg" data-src="https://www.spacex.com/static/images/mission/mission-slider-06.webp" data-srcset="https://www.spacex.com/static/images/mission/mission-slider-06.webp" alt="">
                    <p class="date">October 2015</p>
                    <h1 class="carousel__header">First Land Landing</h1>
                    <p class="carousel__text--left">On October 21, 2015, the Falcon 9 rocket delivered 11 communications satellites to orbit, and the first stage returned and landed at Landing Zone 1 — the first-ever orbital class rocket landing.</p>
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image lazy" src="/images/deep_space.jpg" data-src="https://www.spacex.com/static/images/mission/mission-slider-04.webp" data-srcset="https://www.spacex.com/static/images/mission/mission-slider-04.webp" alt="">
                    <p class="date">March 2017</p>
                     <h1 class="carousel__header">First Reflight</h1>
                    <p class="carousel__text--left">On March 30, 2017, SpaceX achieved the world’s first reflight of an orbital class rocket. Following delivery of the payload, the Falcon 9 first stage returned to Earth for the second time.</p>
                </li>
                <li class="carousel__slide">
                    <img data-src="https://www.spacex.com/static/images/mission/mission-slider-03.webp" data-srcset="https://www.spacex.com/static/images/mission/mission-slider-03.webp" src="/images/deep_space.jpg" alt="" class="carousel__image lazy">
                    <p class="date">April 2019</p>
                     <h1 class="carousel__header">Falcon Heavy First Flight</h1>
                    <p class="carousel__text--left">
                        Falcon Heavy is the world’s most powerful operational rocket by a factor of two, capable of carrying large payloads to orbit and supporting missions as far as the Moon or Mars. On April 7, 2019, Falcon Heavy made its first launch to orbit, successfully landing 2 of its 3 boosters and launching its payload to space.
                    </p>
                </li>
            </ul>
        </div>
        <button class="carousel__button right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <div class="carousel__nav">
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
        </div>
    </div>
</div>
<div class="container-fluid" id="facilities">
    <div class="container"><div class="display-4" style="text-align: center; text-transform: uppercase;">Pegasys Facilities</div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid lazy" src="/images/deep_space.jpg" data-src="/images/Facilities/1.jpg" data-srcset="/images/Facilities/1.jpg" alt="">
                <div class="container-bg">
                <p class="location">Texas</p>
                <h2 class="loc-name">Testing Facility</h3>
                <p class="facility_info">Pegasys tests its engines, vehicle structures, and systems at a 4,000-acre state-of-the-art rocket development facility in McGregor, Texas. Outfitted with 16 specialized test stands, the facility validates for flight every Merlin engine that powers the Falcon 9 and Falcon Heavy rockets, and every Draco thruster that controls the Dragon spacecraft.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/deep_space.jpg" data-src="/images/Facilities/2.jpg" data-srcset="/images/Facilities/2.jpg"  alt="" class="img-fluid lazy">
                <div class="container-bg">
                    <p class="location">California</p>
                    <h2 class="loc-name">Build Facility</h2>
                    <p class="facility_info">Pegasys designs and builds its reusable rockets and spacecraft at its headquarters in Hawthorne, California. As a company, Pegasys is vertically integrated, building the vast majority of the vehicle on the Hawthorne campus. Pegasys headquarters remains one of the few facilities in the world where you can see an entire launch vehicle or spacecraft come together under one roof.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/images/deep_space.jpg" data-src="/images/Facilities/3.jpg" data-srcset="/images/Facilities/3.jpg" alt="" class="img-fluid lazy">
                <div class="container-bg">
                    <p class="location">Florida</p>
                    <h2 class="loc-name">Vanderberg air force base, space launch complex 4</p>
                    <p class="facility_info">The site’s location on the southeast coast of the US provides access to a wide range of low and medium inclination orbits frequently used by communications and Earth-observing satellites and by supply missions to the International Space Station. The site also allows access to geostationary orbits, as well as departures to the Moon and interplanetary destinations.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/deep_space.jpg" data-src="/images/Facilities/4.jpg" data-srcset="/images/Facilities/4.jpg" alt="" class="img-fluid lazy">
                <div class="container-bg">
                    <p class="location">Texas</p>
                    <h2 class="loc-name">South Texas Launch Site</h2>
                    <p class="facility_info">Pegasys is building the world’s first commercial launch site designed for orbital missions in the Cameron County area of South Texas. Pegasys’s build and launch site for its Starship test articles and spacecraft takes place here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Scroll Animation
var tl = new TimelineMax();
var tl1 = new TimelineMax();
var tl2 = new TimelineMax();
var tl3 = new TimelineMax();
const controller = new ScrollMagic.Controller();
tl.from("#explore", 1.3,{yPercent:40, ease:Back.easeInOut});
tl1.from("#mars-mission",1.3,{yPercent:40, ease:Back.easeInOut});
tl2.from("#Carousal",1.3,{yPercent:40, ease:Back.easeInOut});
tl3.from("#facilities",1.3,{yPercent:40, ease:Back.easeInOut});
const ScrollScene1 = new ScrollMagic.Scene({
    triggerElement: "#explore",
    triggerHook: 'onEnter',
}).setTween(tl).addTo(controller);
const ScrollScene2 = new ScrollMagic.Scene({
    triggerElement: "#mars-mission",
    triggerHook: "onEnter",
}).setTween(tl1).addTo(controller);
const ScrollScene3 = new ScrollMagic.Scene({
    triggerElement: "#Carousal",
    triggerHook: "onEnter",
}).setTween(tl2).addTo(controller);
const ScrollScene5 = new ScrollMagic.Scene({
    triggerElement: "#facilities",
    triggerHook: "onEnter",
}).setTween(tl3).addTo(controller);
</script>

<%-include("partials/footer.ejs")%>